.welcome-to-login{
  background: url(../images/login-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  width:100%;
  height:100vh;
  font-family:$font;
}

.welcome-section{
  width:75%;
  position: absolute;
  top:20%;
  left:10%;
}

.text{
  color:#fff;
  text-align: left;
  padding:10% 1%;

  h1{
    font-size:3.5em;
    color:#fff;
    border-bottom:1px solid #fff;
    width:80%;
  }

  p{
    width:75%;
    font-size:1.7em;
    padding:1% 0%;
  }
}

.form{
  background-color:#dfdfdf;
  padding:4% 0% 2% 0%;
  text-align: center;
  border-radius:3px;

  input[type='email'], [type='password'], select{
    padding:3%;
    width:100%;
  }

  input[type='text']{
    padding:3%;
    width:100%;
  }

  .error, .success{
    width:100%;
    padding:2%;
  }

  input[type='submit']{
    padding:2.5%;
    width:50%;
    background-color:$dark-color;
    box-shadow: 0 4px $dark-color * .5;
  }

  input[type='submit']:hover{
    background-color:$theme-color * .7;
    box-shadow: 0 4px $theme-color * .5;
  }

  input[type='submit']:active{
    background-color:$dark-color * .5;
    box-shadow: 0 3px $dark-color * .5;
  }

  p{
    text-align:left;
    padding-left:2%;
  }

  a{
    color:$dark-color;
  }

  a:hover{
    color:$theme-color;
    text-decoration: none;
  }

  .vague{
    width:90%;
    padding-left:0%;
    margin: auto;
    text-align: center;
  }
}
