
/*
------------------------------------------------
Main concepts and stylr variables
------------------------------------------------
*/
$font: 'Nunito', nunito, sans-serif;
$theme-color:#f14949;
$text-color:#444;
$dark-color:#21252B;
$success:#34ca66;


body{
  font-family:$font!important;
  background-color:#dfdfdf!important;
}

*{
  margin:0%;
  padding:0%;
  outline:0;
}

.cap{
  text-transform: capitalize;
}

.right{
  float:right;
}

.left{
  float:left;
}

.closeit{
  position: absolute;
  float: right;
  top:12%;
  right:32%;
  vertical-align: center;
  cursor: pointer;
  background-color:$dark-color;
  color:#fff;
  border-radius:3px;
}

.button{
  background-color:$dark-color;
  padding:1%;
  border:none;
  border-radius:3px;
  color:#fff;
  //display:block;
  width:150px;

}

.button:hover{
  background-color:$dark-color / .7;
}

/*
------------------------------------------------
 form design
------------------------------------------------
*/
.ui-form{
  text-align: center;
  padding:5%;

  h1{
    padding:2%;
    text-transform: capitalize;
    color:$theme-color;
  }

  textarea{
    font-size:14px;
  }

  input[type='text'],[type='email'],[type='password'], [type='date'],[type='file'], textarea, select{
    padding:1.2%;
    width:40%;
    border:none;
    font-family:$font;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    border-radius:3px;
    color:$text-color;
  }

  input[type='text']:focus, select:focus, textarea:focus, [type='email']:focus, [type='password']:focus, [type='date']:focus{
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  input[type='submit']{
    border:none;
    font-family:$font;
    padding:1% 2%;
    background-color:$theme-color;
    cursor: pointer;
    border-radius:3px;
    color:#fff;
    box-shadow: 0 4px $theme-color * .5;
    -webkit-transition:background .5s, box-shadow .5s;
  }

  input[type='submit']:hover{
    background-color:$theme-color * .7;
  }

  input[type='submit']:active{
    background-color:$theme-color * .5;
    box-shadow: 0 3px $theme-color * .5;
    transform: translateY(2px);
  }
}

/*
------------------------------------------------
Error and Success messages report
------------------------------------------------
*/
.error{
  background-color:$theme-color;
  border-radius:3px;
  width:30%;
  margin:.5% auto!important;
  padding:.7%;
  color:#fff;
}

.success{
  @extend .error;
  background-color:$success;
}

.main-message{
  width:100%;
  text-align: center;
  padding:.7% 0% .2% 0%;
  color:#fff;
  border-radius:3px;
}
/*
------------------------------------------------
side menu design
------------------------------------------------
*/
.side-menu{
  background-color:$dark-color;
  height:100vh;
  padding:5% 0%;
  overflow-y:auto;

  img{
    width:200px;
    text-align: center;
    margin:10% auto;
    padding-left:5%;
  }

  ul{
    width:100%;
  }

  li{
    border-top:1px solid transparent;
    border-bottom:1px solid #2f3640;
    padding:3% 10%;
    border-right:5px solid #2f3640;
    list-style: none;
    -webkit-transition:background .1s;

    i{
      float: left;
      padding-right:3%;
    }
  }

  a{
    color:#999;
  }

  a:hover{
    color:$theme-color;
    text-decoration: none;
    li{
      border-right:5px solid $theme-color;
    }
  }

  .current{
    border-right:5px solid $theme-color;
    color:$theme-color;
  }
}
/*
------------------------------------------------
other side
------------------------------------------------
*/
.other-side{
  height:100vh;
  overflow-y:auto;
  padding:5% 1%;

  h3{
    color:$theme-color;
    border-bottom:1px solid $theme-color;
    padding:1% 0%;
  }

  .success, .error{
    width:40%;
    padding:1.2%;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
  }
}

.add-items{
  text-align: center;

  h1{
    padding:5%;
  }

  button{
    border:none;
    font-family:$font;
    padding:1% 2%;
    background-color:$success;
    cursor: pointer;
    border-radius:3px;
    color:#fff;
    box-shadow: 0 4px $success * .5;
    -webkit-transition:background .5s, box-shadow .5s;
  }

  button:hover{
    background-color:$success * .7;
  }

  button:active{
    background-color:$success * .5;
    box-shadow: 0 3px $success * .5;
    transform: translateY(2px);
  }
}
/*
------------------------------------------------
parent design
------------------------------------------------
*/
.view-parents{
  padding:1% 0%;
}

.parent{
  background-color:#fff;
  padding-top:1%;
  padding-bottom:.3%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  margin:.5% 0%;
  border-radius:3px;
  color:$text-color;
  font-size:13px;
  cursor:default;
  -webkit-transition: background .2s;

  li{
    list-style:none;
    display: inline-block;
    width:17%;
    border-left:1px solid #c1c1c1;
    text-align: center;
  }

  a{
    color:$text-color!important;
    text-decoration:none;
    padding-left:1%;
  }

  input[type='number']{
    width:90%;
    border-radius:3px;
    background-color:#888;
    border:1px solid #888;
    text-align: center;
    color:#fff;
  }

  input[type='number']:focus{
    background-color:#444;
  }

  input[type='submit']{
    border:none;
    font-family:$font;
    padding:0% 10%;
    background-color:$theme-color;
    cursor: pointer;
    border-radius:3px;
    color:#fff;
    box-shadow: 0 4px $theme-color * .5;
    -webkit-transition:background .5s, box-shadow .5s;
  }

  input[type='submit']:hover{
    background-color:$theme-color * .7;
  }

  input[type='submit']:active{
    background-color:$theme-color * .5;
    box-shadow: 0 3px $theme-color * .5;
    transform: translateY(2px);
  }


}

.divine{
  a{
    cursor: pointer;
    float: right;
    position: absolute;
    margin-left:7%;
  }
}

.parent:hover{
  background-color:$success;
  color:#fff;

  a{
    color:#fff!important;
  }
}

.formal{
  background-color:transparent!important;
  box-shadow:none;
}

.formal:hover{
  color:$text-color;
}

// form that holds adding and editing data
.post-form{
  background-color:rgba(#000, .5);
  position: fixed;
  z-index:2;
  width:100%;
  height:100vh;
  padding:5% 0%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;

  .ui-form{
    width:40%;
    margin: auto;
    background-color:#dfdfdf;
    padding:7% 3%;
    border-radius:3px;

    input[type='text'],[type='email'],[type='password'], textarea, select{
      width:80%;
      padding:2.3%;
    }

    input[type='submit']{
      width:50%;
      padding:2%;
    }
  }

  .error{
    width:80%;
    padding:1.5%;
  }
}

/*
--------------------------------------------
ISSUE DIV (BOOKS)
--------------------------------------------
*/
.issue-div{
  padding:2%;
  width:80%;
  margin:auto;
  background-color:#fff;
  box-shadow:3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.issue-form{
  @extend .post-form;
}

.delete-form{
  @extend .post-form;

  .ui-form{
    background-color:#fff;

    button{
      padding:3% 5%;
      margin:0% 2%;
    }
  }
}

.receipt-form{
  @extend .post-form;

  .ui-form{
    text-align:left;
    text-transform: uppercase;

    .bold{
      background-color:#999;
      padding:1%;
      padding:1%;
      text-align: center;
    }

    input[type='submit']{
      margin-left:25%;
    }

    h6{
      border-top:1px dotted #000;
      margin-top:5%;
      text-align: center;
      padding:1%;
    }
  }
}

/*
--------------------------------------------
MARGIN
--------------------------------------------
*/
.margin{
  background-color:#fff;
  padding:1%;
  margin:1% 0%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);

  h4{
    border-bottom:1px solid $dark-color;
    padding:.7% 0%;
    color:#fff;

    span{
      background-color:$dark-color;
      border-top-left-radius:3px;
      border-top-right-radius:3px;
      padding:.5%;
    }
  }
}

/*
--------------------------------------------
Top Menu
--------------------------------------------
*/
.top-menu{
  background-color:$dark-color;
  position: fixed;
  width:100%;
  z-index:3;
  padding-top:.5%;
  padding-right:1%;
  color:#fff;
  box-shadow: 0 0 3px 2px rgba(#000, 0.3);

  span{
    width:50%;
    float:right;
    text-align: right;
    padding-right:2%;

    li{
      text-align: center;
      padding-left:5%;
    }
  }

  i{
    -webkit-transition:color .5s;
  }

  i:hover{
    color:$theme-color;
  }

  li{
    display: inline-block;
    text-decoration:none;
    padding:.1% 1% 0% 1%;
  }

  a{
    color:#fff;
    -webkit-transition:color .5s;
  }

  a:hover{
    color:$theme-color;
  }
}

.fold{
  font-size:18px;
  text-align:left;
  position: absolute;
  right:35%;
  width:30%;

  b{
    color:$success;
  }
}

.major-menu{
  background: url(../images/login-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height:100vh;
  padding-top:10%;
  font-family:$font;
  text-align: center;

  .inner-holder{
    width:500px;
    height:500px;
    margin: auto;
    border-radius:100%;
    position: relative;
  }

  .link{
    width:150px;
    height:150px;
    border-radius:100px;
    margin:0% .5%;
    display: inline-block;
    transition: transform .2s;
  }

  .link:hover{
    transform: scale(1.03);
    background-color:transparent!important;
  }

  a{
    color:#fff;
    text-decoration: none;
  }

  a:hover{
    text-decoration: none;
  }
  p{
    text-align: center;
    padding:45% 0%;
  }
}
/*
--------------------------------------------
PAYROLL STYLING
--------------------------------------------
*/
.payroll-table{
  margin-top:5%;

  table{
    width:100%;
  }

  th{
    text-align: left;
    background-color:#999;
    border:1px solid #fff;
    padding:.5%;
  }

  tr{
    text-align: center;
    //padding:1%;
  }

  td{
    border:1px solid #999;
    padding:.5%;
  }
}


/*
--------------------------------------------
NOTICEBORAD STYLING
--------------------------------------------
*/
.tip{
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-left: 10px solid transparent;
  position: absolute;
  left:-7.2%;
  padding-left:1%;
  width:10px;
  margin-top:10%;
}

.notice{
  border-radius:3px;
  padding:2%;
  background-color:#fff;
  margin:1% 2%;

  a{
    color:$dark-color;
    margin:0% 1%;
    -webkit-transition:color .5s;
  }

  a:hover{
    text-decoration:none;
    color:$theme-color;
  }
}

/*
--------------------------------------------
INVOICE PAGE STYLING
--------------------------------------------
*/
.invoice-page{
  background-color:#fff;
  width:90%;
  margin:1% auto;
  padding:1%;
  box-shadow: 0 0 3px 2px rgba(#000, 0.1);

  .formal{
    text-align: center;
    border-bottom:none;
    color:#444;
    text-transform: uppercase;
  }

  p{
    text-align: center;
  }

  .boundary{
    border-bottom:1px dashed #444;
  }

  table{
    width:90%;
    margin:3% auto;
    text-align: center;
  }

  td, th{
    text-align: center!important;
    padding:1%;
  }
}

/*
--------------------------------------------
FINANCIAL REPORT BRIEFING
--------------------------------------------
*/
.report{
  background-color:#fff;
  text-align: center;
  padding:2% 0%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);

  h3{
    border:none;
    padding:0%;
    color:#444;
  }

  h5{
    padding:1%;
  }

  table{
    width:100%;
  }

  td, th{
    padding:.5%;
    text-align: center;
  }

  .final{
    margin:1%;
    text-align: left;
  }

  span{
    padding:1%;
  }
}

.loss{
  background-color:#f79797;
}

.profit{
  background-color:#82ffac;
}

.border{
  background-color:#fff;
  border-radius:3px;
  padding:2%;
  margin:1%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);

  .parent{
    border:1px solid #999;
  }

  .parent:hover{
    border:1px solid transparent;
  }

  .formal{
    border:none;
  }

  .formal:hover{
    border:none;
  }
}

/*
--------------------------------------------
MANAGER STYLING
--------------------------------------------
*/
.order{
  text-align: center;
}
.quick{
  margin:1%;
  width:23%;
  padding:3% 0%;
  background-color:#fff;
  box-shadow: 0px 0px 2px 2px rgba(#000, .1);
  -webkit-transition:background .5s;

  h3{
    padding:0%;
    border:none;
    color:#444;
    text-transform: uppercase;
  }
}

.balance{
  margin:1%;
  padding:3% 2%;
  background-color:#117b48;
  box-shadow: 0px 0px 2px 2px rgba(#117b48, .1);
  text-align:left;
  color:#fff;
  width:98%;
}

.today{
  margin:1%;
  padding:3% 2%;
  text-align:left;
  color:#fff;
  width:48%;
  color:#333;
}
/*
--------------------------------------------
EXAM TABLE DESIGN
--------------------------------------------
*/
.exam-table{
  background-color:#fff;
  padding:3%;


  h2{
    text-align: center;
  }

  table{
    width:100%;
    text-align: center;
  }
}

/*
--------------------------------------------
SCHOOL SETTINGS
--------------------------------------------
*/
.setting{
  text-align: center!important;
  padding:1%;

  .error, .success{
    width:90%;
    padding:2%;
  }

  img{
    background-color: $dark-color;
    padding:2%;
    width:80%;
  }

  input[type='file']{
    border:1px dashed $dark-color;
    box-shadow:none;
    padding:2%;
    width:90%;
    margin-left:5%;
  }

  input[type='submit']{
    padding:2% 3%;
  }
}

.settings{
  width:90%;
  margin: auto;
  background-color:#fff;
  border-radius:3px;
  padding:5%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  font-family:$font;

  .ui-form{
    padding:0%;
  }

  span{
    color:grey;
    font-weight: bold;
  }

  table{
    width:100%;
  }

  td{
    padding:1%;
  }

  input[type='text']{
    text-align: left!important;
    border:1px solid #cfcfcf;
    padding:2%;
    width:100%;
    border-radius:3px;
  }

  input[type='text']:focus{
    border:1px solid #000;
    box-shadow:none;
  }
}
/*
--------------------------------------------
REPORT CARD STYLING
--------------------------------------------
*/
.report-card{
  padding:5%;
  background-color:#fff;
  text-align: center;

  table{
    width:100%;
    text-align: center;
  }

  td{
    text-align: center;
  }
}


/*
------------------------------------------------
imports
------------------------------------------------
*/
@import "loginandsignup";
