/*
------------------------------------------------
Main concepts and stylr variables
------------------------------------------------
*/
body {
  font-family: "Nunito", nunito, sans-serif !important;
  background-color: #dfdfdf !important; }

* {
  margin: 0%;
  padding: 0%;
  outline: 0; }

.cap {
  text-transform: capitalize; }

.right {
  float: right; }

.left {
  float: left; }

.closeit {
  position: absolute;
  float: right;
  top: 12%;
  right: 32%;
  vertical-align: center;
  cursor: pointer;
  background-color: #21252B;
  color: #fff;
  border-radius: 3px; }

.button {
  background-color: #21252B;
  padding: 1%;
  border: none;
  border-radius: 3px;
  color: #fff;
  width: 150px; }

.button:hover {
  background-color: #2f353d; }

/*
------------------------------------------------
 form design
------------------------------------------------
*/
.ui-form {
  text-align: center;
  padding: 5%; }
  .ui-form h1 {
    padding: 2%;
    text-transform: capitalize;
    color: #f14949; }
  .ui-form textarea {
    font-size: 14px; }
  .ui-form input[type='text'], .ui-form [type='email'], .ui-form [type='password'], .ui-form [type='date'], .ui-form [type='file'], .ui-form textarea, .ui-form select {
    padding: 1.2%;
    width: 40%;
    border: none;
    font-family: "Nunito", nunito, sans-serif;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #444; }
  .ui-form input[type='text']:focus, .ui-form select:focus, .ui-form textarea:focus, .ui-form [type='email']:focus, .ui-form [type='password']:focus, .ui-form [type='date']:focus {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2); }
  .ui-form input[type='submit'] {
    border: none;
    font-family: "Nunito", nunito, sans-serif;
    padding: 1% 2%;
    background-color: #f14949;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 4px #792525;
    -webkit-transition: background .5s, box-shadow .5s; }
  .ui-form input[type='submit']:hover {
    background-color: #a93333; }
  .ui-form input[type='submit']:active {
    background-color: #792525;
    box-shadow: 0 3px #792525;
    transform: translateY(2px); }

/*
------------------------------------------------
Error and Success messages report
------------------------------------------------
*/
.error, .success {
  background-color: #f14949;
  border-radius: 3px;
  width: 30%;
  margin: 0.5% auto !important;
  padding: .7%;
  color: #fff; }

.success {
  background-color: #34ca66; }

.main-message {
  width: 100%;
  text-align: center;
  padding: .7% 0% .2% 0%;
  color: #fff;
  border-radius: 3px; }

/*
------------------------------------------------
side menu design
------------------------------------------------
*/
.side-menu {
  background-color: #21252B;
  height: 100vh;
  padding: 5% 0%;
  overflow-y: auto; }
  .side-menu img {
    width: 200px;
    text-align: center;
    margin: 10% auto;
    padding-left: 5%; }
  .side-menu ul {
    width: 100%; }
  .side-menu li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #2f3640;
    padding: 3% 10%;
    border-right: 5px solid #2f3640;
    list-style: none;
    -webkit-transition: background .1s; }
    .side-menu li i {
      float: left;
      padding-right: 3%; }
  .side-menu a {
    color: #999; }
  .side-menu a:hover {
    color: #f14949;
    text-decoration: none; }
    .side-menu a:hover li {
      border-right: 5px solid #f14949; }
  .side-menu .current {
    border-right: 5px solid #f14949;
    color: #f14949; }

/*
------------------------------------------------
other side
------------------------------------------------
*/
.other-side {
  height: 100vh;
  overflow-y: auto;
  padding: 5% 1%; }
  .other-side h3 {
    color: #f14949;
    border-bottom: 1px solid #f14949;
    padding: 1% 0%; }
  .other-side .success, .other-side .error, .other-side .success {
    width: 40%;
    padding: 1.2%;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1); }

.add-items {
  text-align: center; }
  .add-items h1 {
    padding: 5%; }
  .add-items button {
    border: none;
    font-family: "Nunito", nunito, sans-serif;
    padding: 1% 2%;
    background-color: #34ca66;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 4px #1a6533;
    -webkit-transition: background .5s, box-shadow .5s; }
  .add-items button:hover {
    background-color: #248d47; }
  .add-items button:active {
    background-color: #1a6533;
    box-shadow: 0 3px #1a6533;
    transform: translateY(2px); }

/*
------------------------------------------------
parent design
------------------------------------------------
*/
.view-parents {
  padding: 1% 0%; }

.parent {
  background-color: #fff;
  padding-top: 1%;
  padding-bottom: .3%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  margin: .5% 0%;
  border-radius: 3px;
  color: #444;
  font-size: 13px;
  cursor: default;
  -webkit-transition: background .2s; }
  .parent li {
    list-style: none;
    display: inline-block;
    width: 17%;
    border-left: 1px solid #c1c1c1;
    text-align: center; }
  .parent a {
    color: #444 !important;
    text-decoration: none;
    padding-left: 1%; }
  .parent input[type='number'] {
    width: 90%;
    border-radius: 3px;
    background-color: #888;
    border: 1px solid #888;
    text-align: center;
    color: #fff; }
  .parent input[type='number']:focus {
    background-color: #444; }
  .parent input[type='submit'] {
    border: none;
    font-family: "Nunito", nunito, sans-serif;
    padding: 0% 10%;
    background-color: #f14949;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 4px #792525;
    -webkit-transition: background .5s, box-shadow .5s; }
  .parent input[type='submit']:hover {
    background-color: #a93333; }
  .parent input[type='submit']:active {
    background-color: #792525;
    box-shadow: 0 3px #792525;
    transform: translateY(2px); }

.divine a {
  cursor: pointer;
  float: right;
  position: absolute;
  margin-left: 7%; }

.parent:hover {
  background-color: #34ca66;
  color: #fff; }
  .parent:hover a {
    color: #fff !important; }

.formal {
  background-color: transparent !important;
  box-shadow: none; }

.formal:hover {
  color: #444; }

.post-form, .issue-form, .delete-form, .receipt-form {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  padding: 5% 0%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  overflow-y: scroll; }
  .post-form .ui-form, .issue-form .ui-form, .delete-form .ui-form, .receipt-form .ui-form {
    width: 40%;
    margin: auto;
    background-color: #dfdfdf;
    padding: 7% 3%;
    border-radius: 3px; }
    .post-form .ui-form input[type='text'], .issue-form .ui-form input[type='text'], .delete-form .ui-form input[type='text'], .receipt-form .ui-form input[type='text'], .post-form .ui-form [type='email'], .issue-form .ui-form [type='email'], .delete-form .ui-form [type='email'], .receipt-form .ui-form [type='email'], .post-form .ui-form [type='password'], .issue-form .ui-form [type='password'], .delete-form .ui-form [type='password'], .receipt-form .ui-form [type='password'], .post-form .ui-form textarea, .issue-form .ui-form textarea, .delete-form .ui-form textarea, .receipt-form .ui-form textarea, .post-form .ui-form select, .issue-form .ui-form select, .delete-form .ui-form select, .receipt-form .ui-form select {
      width: 80%;
      padding: 2.3%; }
    .post-form .ui-form input[type='submit'], .issue-form .ui-form input[type='submit'], .delete-form .ui-form input[type='submit'], .receipt-form .ui-form input[type='submit'] {
      width: 50%;
      padding: 2%; }
  .post-form .error, .issue-form .error, .delete-form .error, .receipt-form .error, .post-form .success, .issue-form .success, .delete-form .success, .receipt-form .success {
    width: 80%;
    padding: 1.5%; }

/*
--------------------------------------------
ISSUE DIV (BOOKS)
--------------------------------------------
*/
.issue-div {
  padding: 2%;
  width: 80%;
  margin: auto;
  background-color: #fff;
  box-shadow: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  text-align: left; }

.delete-form .ui-form {
  background-color: #fff; }
  .delete-form .ui-form button {
    padding: 3% 5%;
    margin: 0% 2%; }

.receipt-form .ui-form {
  text-align: left;
  text-transform: uppercase; }
  .receipt-form .ui-form .bold {
    background-color: #999;
    padding: 1%;
    padding: 1%;
    text-align: center; }
  .receipt-form .ui-form input[type='submit'] {
    margin-left: 25%; }
  .receipt-form .ui-form h6 {
    border-top: 1px dotted #000;
    margin-top: 5%;
    text-align: center;
    padding: 1%; }

/*
--------------------------------------------
MARGIN
--------------------------------------------
*/
.margin {
  background-color: #fff;
  padding: 1%;
  margin: 1% 0%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
  .margin h4 {
    border-bottom: 1px solid #21252B;
    padding: .7% 0%;
    color: #fff; }
    .margin h4 span {
      background-color: #21252B;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding: .5%; }

/*
--------------------------------------------
Top Menu
--------------------------------------------
*/
.top-menu {
  background-color: #21252B;
  position: fixed;
  width: 100%;
  z-index: 3;
  padding-top: .5%;
  padding-right: 1%;
  color: #fff;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3); }
  .top-menu span {
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 2%; }
    .top-menu span li {
      text-align: center;
      padding-left: 5%; }
  .top-menu i {
    -webkit-transition: color .5s; }
  .top-menu i:hover {
    color: #f14949; }
  .top-menu li {
    display: inline-block;
    text-decoration: none;
    padding: .1% 1% 0% 1%; }
  .top-menu a {
    color: #fff;
    -webkit-transition: color .5s; }
  .top-menu a:hover {
    color: #f14949; }

.fold {
  font-size: 18px;
  text-align: left;
  position: absolute;
  right: 35%;
  width: 30%; }
  .fold b {
    color: #34ca66; }

.major-menu {
  background: url(../images/login-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  padding-top: 10%;
  font-family: "Nunito", nunito, sans-serif;
  text-align: center; }
  .major-menu .inner-holder {
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 100%;
    position: relative; }
  .major-menu .link {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 0% .5%;
    display: inline-block;
    transition: transform .2s; }
  .major-menu .link:hover {
    transform: scale(1.03);
    background-color: transparent !important; }
  .major-menu a {
    color: #fff;
    text-decoration: none; }
  .major-menu a:hover {
    text-decoration: none; }
  .major-menu p {
    text-align: center;
    padding: 45% 0%; }

/*
--------------------------------------------
PAYROLL STYLING
--------------------------------------------
*/
.payroll-table {
  margin-top: 5%; }
  .payroll-table table {
    width: 100%; }
  .payroll-table th {
    text-align: left;
    background-color: #999;
    border: 1px solid #fff;
    padding: .5%; }
  .payroll-table tr {
    text-align: center; }
  .payroll-table td {
    border: 1px solid #999;
    padding: .5%; }

/*
--------------------------------------------
NOTICEBORAD STYLING
--------------------------------------------
*/
.tip {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-left: 10px solid transparent;
  position: absolute;
  left: -7.2%;
  padding-left: 1%;
  width: 10px;
  margin-top: 10%; }

.notice {
  border-radius: 3px;
  padding: 2%;
  background-color: #fff;
  margin: 1% 2%; }
  .notice a {
    color: #21252B;
    margin: 0% 1%;
    -webkit-transition: color .5s; }
  .notice a:hover {
    text-decoration: none;
    color: #f14949; }

/*
--------------------------------------------
INVOICE PAGE STYLING
--------------------------------------------
*/
.invoice-page {
  background-color: #fff;
  width: 90%;
  margin: 1% auto;
  padding: 1%;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1); }
  .invoice-page .formal {
    text-align: center;
    border-bottom: none;
    color: #444;
    text-transform: uppercase; }
  .invoice-page p {
    text-align: center; }
  .invoice-page .boundary {
    border-bottom: 1px dashed #444; }
  .invoice-page table {
    width: 90%;
    margin: 3% auto;
    text-align: center; }
  .invoice-page td, .invoice-page th {
    text-align: center !important;
    padding: 1%; }

/*
--------------------------------------------
FINANCIAL REPORT BRIEFING
--------------------------------------------
*/
.report {
  background-color: #fff;
  text-align: center;
  padding: 2% 0%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
  .report h3 {
    border: none;
    padding: 0%;
    color: #444; }
  .report h5 {
    padding: 1%; }
  .report table {
    width: 100%; }
  .report td, .report th {
    padding: .5%;
    text-align: center; }
  .report .final {
    margin: 1%;
    text-align: left; }
  .report span {
    padding: 1%; }

.loss {
  background-color: #f79797; }

.profit {
  background-color: #82ffac; }

.border {
  background-color: #fff;
  border-radius: 3px;
  padding: 2%;
  margin: 1%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
  .border .parent {
    border: 1px solid #999; }
  .border .parent:hover {
    border: 1px solid transparent; }
  .border .formal {
    border: none; }
  .border .formal:hover {
    border: none; }

/*
--------------------------------------------
MANAGER STYLING
--------------------------------------------
*/
.order {
  text-align: center; }

.quick {
  margin: 1%;
  width: 23%;
  padding: 3% 0%;
  background-color: #fff;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: background .5s; }
  .quick h3 {
    padding: 0%;
    border: none;
    color: #444;
    text-transform: uppercase; }

.balance {
  margin: 1%;
  padding: 3% 2%;
  background-color: #117b48;
  box-shadow: 0px 0px 2px 2px rgba(17, 123, 72, 0.1);
  text-align: left;
  color: #fff;
  width: 98%; }

.today {
  margin: 1%;
  padding: 3% 2%;
  text-align: left;
  color: #fff;
  width: 48%;
  color: #333; }

/*
--------------------------------------------
EXAM TABLE DESIGN
--------------------------------------------
*/
.exam-table {
  background-color: #fff;
  padding: 3%; }
  .exam-table h2 {
    text-align: center; }
  .exam-table table {
    width: 100%;
    text-align: center; }

/*
--------------------------------------------
SCHOOL SETTINGS
--------------------------------------------
*/
.setting {
  text-align: center !important;
  padding: 1%; }
  .setting .error, .setting .success, .setting .success {
    width: 90%;
    padding: 2%; }
  .setting img {
    background-color: #21252B;
    padding: 2%;
    width: 80%; }
  .setting input[type='file'] {
    border: 1px dashed #21252B;
    box-shadow: none;
    padding: 2%;
    width: 90%;
    margin-left: 5%; }
  .setting input[type='submit'] {
    padding: 2% 3%; }

.settings {
  width: 90%;
  margin: auto;
  background-color: #fff;
  border-radius: 3px;
  padding: 5%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  font-family: "Nunito", nunito, sans-serif; }
  .settings .ui-form {
    padding: 0%; }
  .settings span {
    color: grey;
    font-weight: bold; }
  .settings table {
    width: 100%; }
  .settings td {
    padding: 1%; }
  .settings input[type='text'] {
    text-align: left !important;
    border: 1px solid #cfcfcf;
    padding: 2%;
    width: 100%;
    border-radius: 3px; }
  .settings input[type='text']:focus {
    border: 1px solid #000;
    box-shadow: none; }

/*
--------------------------------------------
REPORT CARD STYLING
--------------------------------------------
*/
.report-card {
  padding: 5%;
  background-color: #fff;
  text-align: center; }
  .report-card table {
    width: 100%;
    text-align: center; }
  .report-card td {
    text-align: center; }

/*
------------------------------------------------
imports
------------------------------------------------
*/
.welcome-to-login {
  background: url(../images/login-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  font-family: "Nunito", nunito, sans-serif; }

.welcome-section {
  width: 75%;
  position: absolute;
  top: 20%;
  left: 10%; }

.text {
  color: #fff;
  text-align: left;
  padding: 10% 1%; }
  .text h1 {
    font-size: 3.5em;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 80%; }
  .text p {
    width: 75%;
    font-size: 1.7em;
    padding: 1% 0%; }

.form {
  background-color: #dfdfdf;
  padding: 4% 0% 2% 0%;
  text-align: center;
  border-radius: 3px; }
  .form input[type='email'], .form [type='password'], .form select {
    padding: 3%;
    width: 100%; }
  .form input[type='text'] {
    padding: 3%;
    width: 100%; }
  .form .error, .form .success, .form .success {
    width: 100%;
    padding: 2%; }
  .form input[type='submit'] {
    padding: 2.5%;
    width: 50%;
    background-color: #21252B;
    box-shadow: 0 4px #111316; }
  .form input[type='submit']:hover {
    background-color: #a93333;
    box-shadow: 0 4px #792525; }
  .form input[type='submit']:active {
    background-color: #111316;
    box-shadow: 0 3px #111316; }
  .form p {
    text-align: left;
    padding-left: 2%; }
  .form a {
    color: #21252B; }
  .form a:hover {
    color: #f14949;
    text-decoration: none; }
  .form .vague {
    width: 90%;
    padding-left: 0%;
    margin: auto;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
